button {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; 
}


@media screen and (min-width: 998px) {

    section {
        padding: 0 32px;
        margin-bottom: 120px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .header {
        width: 100%;
        box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.05);
        background-color: #fff;
        position: fixed;
        top: 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        padding: 8px 32px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .header-logo {
        content: url(images/Logo.svg);
    }

    .header-list {
        display: flex;
        list-style-type: none;
        color: rgba(1, 10, 57, 1);
        font-weight: 600;
        align-items: center;
    }

    .header-item {
        margin-left: 32px;
    }

    .header-link {
        color: inherit;
        height: 100%;
        text-decoration: none;
    }

    .hero {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 32px;
    }

    .hero-col-1{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    img {
        display: block;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-weight: bold;
        font-size: 56px;
        line-height: 48px;  
        color: #010A39;
    }

    .hero-par {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #010A39;
        margin-top: 32px;
    }

    .advantages-item {
        background: url(images/custom_list.svg) no-repeat;
        padding-left: 40px;
        margin-top: 10px;
    }

    .advantages-list {
        margin-top: 32px;
        list-style-type: none;
        line-height: 36px;
    }

    .hero-buttons {
        margin-top: 32px;
    }

    .button-link {
        padding: 16px 48px;
        background-color: #F88F01;
        border-radius: 10px;
        margin-right: 32px;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        box-shadow: 0px 16px 30px rgba(248, 143, 1, 0.35);
    }

    .outline-link {
        text-decoration: none;
        color: #010A39;
    }
}
