/*----------------Fonts-----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/*-----------------Default-----------------------------------*/

button {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 0 32px;
    margin-bottom: 90px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    color: #010A39;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 24px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: inline;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #494F70;
}

.button-interact:hover,
.button-link:hover {
    border: 2px solid #FF980C;
    color: #FF980C;
    background-color: #fff;
    transition-duration: 0.4s;
}

.button-interact:active,
.button-link:active {
    border: 2px solid #E5890B;
    color: #E5890B;
    background-color: #fff;
    transition-duration: 0.05s;
}

.under-block-link {
    margin-top: 32px;
}

.button-link {
    padding: 16px 48px;
    background-color: #F88F01;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: 2px solid #FF980C;
}

.hero-button {
    margin-right: 32px;
}

.outline-link {
    text-decoration: underline;
    color: #010A39;
    text-decoration-skip-ink: none;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.button-interact {
    border: 0;
    padding: 16px 0;
    width: 100%;
    background-color: #F88F01;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: 2px solid #FF980C;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px;
}

/*-------------------Header--------------------------------------------*/

.header {
    width: 100%;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 8px 32px;
}

.header-logo {
    content: url(images/Logo.svg);
}

.header-list {
    display: flex;
    list-style-type: none;
    color: rgba(1, 10, 57, 1);
    font-weight: 600;
    align-items: center;
}

.header-item:not(:last-child) {
    margin-right: 32px;
}

.header-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.header-link:hover {
    color: #FF980C;
    transition: 0.2s;
}

.header-link:active {
    color: #E5890B;
    transition: 0.05s;
}

.outline-link:hover {
    color: #FF980C;
    transition: 0.2s;
}

.outline-link:active {
    color: #E5890B;
    transition: 0.05s;
}

.header-icons {
    display: flex;
    align-items: center;
}

.cart {
    content: url(images/cart.svg);
    height: 35px;
    object-fit: cover;
    color: #010A39;
}

/*-------------------Header--------------------------------------------*/

.activ-list {
    color: #E5890B;
}

/*--------------------Hero-----------------------------*/

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 120px 32px;
    height: 100vh;
}

.hero__col1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.advantages-item {
    background: url(images/custom_list.svg) no-repeat;
    padding-left: 40px;
    color: #010A39;
    margin: 5px 0;
    font-weight: 500;
    color: #494F70;
}

.advantages-list {
    list-style-type: none;
    line-height: 36px;
    margin: 32px 0;
}

/*----------------About us----------------------------*/

.about-us {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}


/*-------------------Catalog-----------------------------------*/
.catalog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
/*-------------------Popular products-----------------------*/

.catalog {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px 0;
}



.catalog-card-price {
    font-size: 14px;
    color: rgba(113, 113, 113, 1);
    margin-bottom: 16px;
}

.catalog-card {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 5px solid #F1F1F1;
    text-align: center;
}

.catalog-card-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.popular-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------------Steps--------------------------*/

.steps-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.steps-img {
    object-fit: cover;
    margin: 32px 0;
}

.steps-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    text-align: center;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------Feedback-----------------------------*/

.feedback-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.feedback-img {
    object-fit: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 16px;
}

.feedback-card {
    display: flex;
    flex-direction: column;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-area {
    display: flex;
    flex-direction: row;
    border: 5px solid #F1F1F1;
    border-radius: 20px;
    padding: 16px;
    min-height: 300px;
}

.time {
    font-weight: 500;
    font-size: 12px;
    display: inline;
    color: #717171;
    margin-left: 8px;
}

.star-orange {
    content: url(images/star-orange.svg);
    display: inline-block;
}

.note {
    margin: 8px 0;
}

/*----------------Contacts----------------------*/

.contacts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}

.map {
    width: 100%;
    height: 100%;
    border-style: 0;
    border-radius: 10px;
    border: 0;
}

.icon {
    min-width: 48px;
    margin-right: 24px;
    object-fit: fill;
}

.icon1 {
    content: url(images/icons-contacts/profile.svg);
}

.icon2 {
    content: url(images/icons-contacts/phone.svg);
}

.icon3 {
    content: url(images/icons-contacts/email.svg);
}

.icon4 {
    content: url(images/icons-contacts/location.svg);
}

.contacts-info {
    display: flex;
    flex-direction: row;
    margin: 48px 0;
}

.contacts-par {
    color: rgba(73, 79, 112, 1);
    margin-bottom: 8px;
}

/*-------------subscription---------------------------*/

input {
    border: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    height: 36px;
    font-weight: 700;
    color: #BFC2CD;
    font-size: 16px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid #F1F1F1;
    border-radius: 20px;
    padding: 8px;
    padding-left: 16px;
    justify-content: space-between;
    background-color: #fff;
}

.subscribe-icon {
    content: url(images/icons-contacts/email.svg);
    height: 24px;
}

.subscribe-input {
    margin: 0 16px;
    border-radius: 10px;
    width: 100%;
    height: 48px;
}

.subscribe-button {
    width: auto;
    padding: 16px 48px;
}

.subscribe-container {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.9405) 0.01%, rgba(255, 255, 255, 0.8265) 100%), url(images/about-us-image.png);
    background-size: cover;
    border-radius: 20px;
    padding: 64px 32px;
}


/*----------------Footer---------------------------*/

.line {
    width: 100%;
    border-bottom: 4px solid #F1F1F1;
    margin: 16px 0;
}

footer {
    padding: 0 32px;
    padding-bottom: 16px;
}

.footer-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #494F70;
}

.footer-nav-list,
.footer-contacts-list {
    list-style-type: none;
}

.footer-link {
    text-decoration: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    content: url(images/Logo.svg);
}

.footer-icon {
    width: 24px;
    margin-right: 8px;
}

.footer-contacts-item:not(:last-child),
.footer-nav-item:not(:last-child) {
    margin-bottom: 16px;
}

.footer-contacts-item {
    display: flex;
}

.footer-link:hover {
    color: #FF980C;
    transition: 0.4s;
}

.footer-link:active {
    color:#E5890B;
    transition: 0.02s;
}

@media screen and (max-width:1199px) {
    h1 {
        font-size: 56px;
        line-height: 72px;
    }
}

@media screen and (max-width:991px) {
    h1 {
        font-size: 48px;
        line-height: 52px;
    }
}

@media screen and (max-width:767px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-nav-list,
    .footer-contacts-list {
        margin-top: 36px;
    }

    .footer-link {
        font-size: 14px;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .about-us {
        grid-template-columns: 1fr;
    }

    .popular-products {
        text-align: center;
    }

    .catalog {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .hero {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0px;
        height: 100%;
    }

    h3 {
        font-size: 16px;
    }

    section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .steps-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .feedback-container {
        grid-template-columns: 1fr;
    }

    .contacts {
        grid-template-columns: 1fr;
    }

    p {
        font-size: 14px;
    }

    .header-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .image {
        position: relative;
    }

    .map {
        min-height: 300px;
    }

    .hero__col1 {
        max-width: 450px;
    }

    .advantages-item {
        font-size: 14px;
    }

    .header-link {
        font-size: 24px;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;

    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #010A39;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger span {
        background-color: #010A39;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F1F1F1;
        padding-top: 100px;
        transition: all 0.3s ease 0s;
        overflow: auto;

    }

    .header-menu.active {
        top: 0;
    }

    .header-logo {
        content: url(images/Logo.svg);
        z-index: 5;
    }

    .header:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 3;
    }

    .header-list {
        list-style: none;
        display: block;
    }

    .header-item {
        margin-bottom: 20px;
        padding-left: 40%;
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active span {
        transform: scale(0);

    }

    body.lock {
        overflow: hidden;
    }

    .header-link {
        z-index: 6;

    }

    .cart {
        content: url(images/cart.svg);
        height: 35px;
        object-fit: cover;
        color: #010A39;
        z-index: 6;
        position: fixed;
        right: 90px;
    }

}

@media screen and (max-width:575px) {
    .catalog-card {
        padding: 8px;
    }
}